<!DOCTYPE html>

<html lang="pt-br">

<head>

    <title>Boole</title>
    <link rel="stylesheet" href="code_space.css">
    
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap" rel="stylesheet">

</head>

<body>
    
    <div class="div_current_code_title">
        <div class="div_menu_button">
            <button class="menu_button"><img src="imgs/menu_icon.png" width="32px" height="32px"></button>
        </div>

        <div class="div_code_title">
            <p class="code_title">teste.cpp</p>
        </div>
    </div>

    <div class="div_input_chatbox">
        <span class="input_chatbox" id="userInput" contenteditable="true" data-placeholder="Como posso te ajudar?"></span>
        <button class="send_button" onclick="resposta_API()"><img src="imgs/send_icon.png" width="38px" height="38px"></button>
    </div>

    <span style="display: inline; height: 50px; width: 100%; background-color: blue;"></span>

    <div class="div_code_messages">
        <div class="div_message_box">
            <div class="user_message">
                <pre>
                    <code>
                        &lt;/&gt; C++
                        #include &lt;iostream&gt;
                        using namespace std;

                        int main(){
                            cout &lt;&lt; “Hello, World!” &lt;&lt; endl;
    
                            return 0
                        }
                    </code>
                </pre>
            </div>
        </div>

        <div class="div_message_box">
            <div class="boole_message">Guardei o seu código! Caso queira saber como melhorá-lo, é só falar comigo!</div>
        </div>

        <div class="div_message_box">
            <div class="user_message">Onde está o erro neste código?</div>
        </div>

        <div class="div_message_box">
            <div class="boole_message">O ; (ponto e vírgula) é usado em C++ para indicar o fim de uma instrução (comando). Ele funciona como um “ponto final” de uma frase.  
            Usando o compilador g++, por exemplo, para compilar este código sem o ; (ponto e vírgula), o erro que aparece na  sua tela será :
            </div>
        </div>

        <div class="div_message_box">
            <div class="user_message">ah código extenso</div>
        </div>

        <div class="div_message_box">
            <div class="boole_message">resposta do teste</div>
        </div>

        <div class="div_message_box">
            <div class="user_message">teste</div>
        </div>

        <div class="div_message_box">
            <div class="boole_message">resposta do teste</div>
        </div>

        <div class="div_message_box">
            <div class="user_message">ah código extenso</div>
        </div>

        <div class="div_message_box">
            <div class="boole_message">resposta do teste</div>
        </div>

        <div class="div_message_box">
            <div class="user_message">teste</div>
        </div>

        <div class="div_message_box">
            <div class="boole_message">resposta do teste</div>
        </div>
    </div>

    <script>
        function resposta_API()
        {
            const duvida = document.getElementById('userInput').textContent;
            
            // cria os divs da mensagem do usuário e coloca no local correto
            const messageBoxUser = document.createElement('div');
            messageBoxUser.className = 'div_message_box';

            const userMessage = document.createElement('div');
            userMessage.className = 'user_message';
            userMessage.innerText = duvida;

            document.getElementById('userInput').textContent = ''; //limpa o input após enviar mensagem

            messageBoxUser.appendChild(userMessage);
            document.body.querySelector('.div_code_messages').appendChild(messageBoxUser);

            //divs da mensagem do boole
            const messageBoxBoole = document.createElement('div');
            messageBoxBoole.className = 'div_message_box';

            const botMessage = document.createElement('div');
            botMessage.className = 'boole_message';

            messageBoxBoole.appendChild(botMessage);
            document.body.querySelector('.div_code_messages').appendChild(messageBoxBoole);



            fetch('/', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                },
                body: JSON.stringify({ duvida : duvida }),
            })
            // transforma a resposta em json
            .then(response => response.json()) 
            .then(data => {
                if (data.resultado) {
                    // coloca a resposta na tela
                    botMessage.innerText = data.resultado;
                } else if (data.erro) {
                    alert(data.erro);
                }
            })
            .catch(error => console.error('Erro:', error));

        }
    </script>

</body>

</html>