:root {
    /* cores tiradas do figma */
    --light_green_color: #019196;
    --primary_green_color: #164B4D;
    --secondary_green_color: #022028;
    --dark_green_color: #03151A;
}

/*Estilo padrão*/
body {
    background-color: var(--secondary_green_color);
    color: white;
    font-family: "JetBrains Mono", monospace;
}

/*Estilo da linha do input e do botão de enviar*/
.div_input_chatbox {
    display: flex;
    justify-content: center;
    align-items: center;

    position: fixed;
    bottom: 50px;
    width: 100%;

    box-shadow: 0px -10px 10px var(--secondary_green_color);
}

.div_current_code_title{
    display: flex;
    justify-content: left;
    align-items: center;

    position: fixed;
    top: 10px;
    width: 100%;
}

/*Estilo do input de texto*/
span[contenteditable]:empty::before {
  content: attr(data-placeholder);
  color: gray;
  cursor: text;
}

.input_chatbox {
    width: 720px;
    font-size: 16px;
    max-width: 720px;
    field-sizing: content;

    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 12px;
    padding-top: 12px;

    margin-right: 12px;
    margin-left: 12px;

    background-color: var(--primary_green_color);
    color: white;
    border-color: white;

    border: none;
    border-radius: 12px;

    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

/*Estilo do botão de enviar*/
.send_button {
    width: 38px;
    height: 38px;
    align-self: auto;

    background-color: white;
    border: none;
    border-radius: 50px;
    
    padding-left: 2px;
    padding-bottom: 5px;
    transition: 150ms;

    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.menu_button {
    width: 38px;
    height: 38px;
    align-self: left;

    background-color: white;
    border: none;
    border-radius: 50px;
    
    padding-left: 3px;
    padding-top: 3px;
    transition: 150ms;

    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.send_button:hover, .menu_button:hover {
    cursor: pointer;
    opacity: 0.7;
}

.send_button:active, .menu_button:active {
    opacity: 1;
}

/*Estilo do título do código*/
.div_code_title {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    margin-left: 630px;
}

.div_menu_button {
    display: flex;
    justify-content: left;
    align-items: left;
    margin-top: 10px;
    margin-left: 10px;
}

.code_title{
    width: 80px;
    background-color: var(--primary_green_color);
    color: var(--light_green_color);
    border-radius: 12px;

    padding-right: 15px;
    padding-left: 15px;
    padding-top: 15px;
    padding-bottom: 15px;
    align-content: center;
}

.div_code_messages{
    display: block;
    overflow-y: auto;
    grid-row: 1/-1;
}

.div_message_box{
    display: flex;
    width: 500px;
    flex-direction: column;
    gap: 5px;
    overflow: visible;
}

.div_message_box .user_message{
    justify-content: end;
}

.div_message_box .boole_message{
    justify-content: start;
}

.user_message{
    display:flex;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 5px;
    margin: 5px;
    background-color: var(--dark_green_color);
    justify-content: end;
    align-self: flex-end;
}

.boole_message{
    display:flex;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 5px;
    margin: 5px;
    background-color: var(--primary_green_color);
    justify-content: start;
    align-self: flex-start;
}