* {
  font-family: "JetBrains Mono", monospace;
}
.sidebar {
  height: 100%;
  width: 0; 
  z-index: 1000;
  top: 0;
  left: 0;
  bottom: 0;
  background-color: #164B4D;
  overflow-x: hidden;
  transition: 0.5s;
  font-family: "JetBrains Mono", monospace;
}

.sidebar li {
  padding: 8px 8px 8px 8px;
  text-decoration: none;
  font-size: 16px;
  color: #fff;
  display: block;
  transition: 0.5s;
}


.sidebar .closebtn {
  height: 36px;
  color: #022C2D;
}

.sidebar .closebtn:hover {
  color: white;
}

.sidebar-title-area{
  display: flex;         
  align-items: center;    
  gap: 10px; ;            
}

#main-content {
  transition: margin-left .5s;
  padding: 16px;
  font-family: "JetBrains Mono", monospace;
}

#top-sidebar{
  display: flex;        
  align-items: center;    
  gap: 10px;             
  top: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 10px;
}

#top-sidebar-title{
  font-weight: bold;
  color: #fff;
  font-size: 20px;
  margin: 0
}

.content {
  background: transparent;
  width: 200px;
  color: #fff;
}

.content ul {
  list-style: none;
  padding: 10px 20px;
  margin: 0;
}

.content ul li a {
  color: #fff;
  text-decoration: none;
  display: block;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.content ul li a:hover {
  color: #0fb3be;
}

#nova-conversa{
  display: flex;
  align-items: center;
  background-color: transparent;
  font-family: "JetBrains Mono", monospace;
  font-weight: bold;
  gap: 7px;
  font-size: 15px;
  color: #fff;
  border: none;
  padding: 10px;
}