.sidebar {
  height: 100%;
  width: 0; 
  z-index: 1000;
  top: 0;
  left: 0;
  bottom: 0;
  background-color: #164B4D;
  overflow-x: hidden;
  transition: 0.5s;
  font-family: Arial, Helvetica, sans-serif;
  display: flex;
  flex-direction: column;
  border-radius: 5px;
}

.sidebar .closebtn {
  height: 36px;
  color: #022C2D;
}

.sidebar .closebtn:hover {
  color: white;
}

.sidebar-title-area{
  display: flex;         
  align-items: center;    
  gap: 10px; ;            
}

#main-content {
  transition: margin-left .5s;
  padding: 16px;
  font-family: "JetBrains Mono", monospace;
}

#top-sidebar{
  display: flex;        
  align-items: center;    
  gap: 10px;             
  top: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 10px;
}

#top-sidebar-title{
  font-weight: bold;
  color: #fff;
  font-size: 24px;
  margin: 0
}

.content {
  flex: 1; /* faz com que a lista ocupe todo o espaço disponível */
  overflow-y: auto; /* permite scroll se houver muitos chats */
  margin-bottom: 20px;
  padding: 10px;
  background: transparent;
  width: 270px;
  color: #fff;
}

.content ul {
  list-style: none;
  padding: 10px 0px;
  margin: 0;
}

.content ul li a {
  color: grey;
  text-decoration: none;
  display: block;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  transition: 0.5s;
  font-size: 16px;
  padding: 8px 8px 8px 8px;
}

.content ul li a:hover {
  color: white;
}

#nova-conversa{
  display: flex;
  align-items: center;
  background-color: transparent;
  font-weight: bold;
  gap: 7px;
  font-size: 18px;
  color: #fff;
  border: none;
  padding: 10px;
}

#login-or-logout {
  margin-top: auto; /* botão fica no final da sidebar */
  align-self: flex-start;
  background-color: transparent;
  color: white;
  border: none;
  padding: 10px;
  cursor: pointer;
}

#conversas-title{
  font-weight: bold;
  font-size: 18px;
}

