* {
  font-family: "JetBrains Mono", monospace;
}
.sidebar {
  height: 100%;
  width: 0; 
  z-index: 1000;
  top: 0;
  left: 0;
  bottom: 0;
  background-color: #164B4D;
  overflow-x: hidden;
  transition: 0.5s;
  font-family: "JetBrains Mono", monospace;
}

.sidebar li {
  padding: 8px 8px 8px 8px;
  text-decoration: none;
  font-size: 16px;
  color: #fff;
  display: block;
  transition: 0.5s;
}


.sidebar .closebtn {
  height: 36px;
  color: #022C2D;
}

.sidebar .closebtn:hover {
  color: white;
}

.sidebar-title-area{
  display: flex;         
  align-items: center;    
  gap: 10px; ;            
}

#main-content {
  transition: margin-left .5s;
  padding: 16px;
  font-family: "JetBrains Mono", monospace;
}

#top-sidebar{
  display: flex;        
  align-items: center;    
  gap: 10px;             
  top: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 10px;
}

#top-sidebar-title{
  font-weight: bold;
  color: #fff;
  font-size: 20px;
  margin: 0
}

.content {
  background: transparent;
  width: 200px;
  color: #fff;
}

.content ul {
  list-style: none;
  padding: 10px 20px;
  margin: 0;
}

.content ul li a {
  color: #fff;
  text-decoration: none;
  display: block;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.content ul li a:hover {
  color: #0fb3be;
}

#nova-conversa{
  display: flex;
  align-items: center;
  background-color: transparent;
  font-family: "JetBrains Mono", monospace;
  font-weight: bold;
  gap: 7px;
  font-size: 15px;
  color: #fff;
  border: none;
  padding: 10px;
}

.popup {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.6);
  z-index: 999;
}

.popup-content {
  margin: 5% auto;
  padding: 20px;
  border-radius: 12px;
  width: 350px;
  position: relative;
}

.fechar {
  position: absolute;
  top: 50px;
  left: 390px;
  cursor: pointer;
  font-size: 20px;
}

#bloco-central{
    display: flex;
    flex-direction: column;
    width: 400px;
    align-items: center;
    background-color: #164B4D;
    color: #fff;
    font-family: Arial, Helvetica, sans-serif;
    padding: 20px;
    border-radius: 35px;
    gap: 25px;
}
#titulo{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: monospace; 
    font-size: 24px;
}

#main-title{
    font-size: 39px;
}

#usuario, #senha, #usuario_criacao, #senha_criacao, #botao-login, #senha_confirma, #botao-criar-conta{
    font-family: Arial, Helvetica, sans-serif;
    border-radius: 8px;
    border: none;
    min-height: 48px;
    min-width: 322px;
    width: 85%; 
    padding: 0 15px;
    box-sizing: border-box; /* o padding não estoura a largura */
}

#usuario, #senha, #usuario_criacao, #senha_criacao, #senha_confirma{
    background-color: #022028;
    color: #164B4D;
    
}

#botao-login, #botao-criar-conta{
    font-weight: bold;
    transition: color 0.3s;
}

#botao-login:hover, #botao-criar-conta:hover {
    background-color: #d1d1d1;
}

#direc-criar-conta, #cont-sem-login, #botao-voltar{
    font-family: monospace;
    background-color: transparent;
    border: none;
    text-decoration: underline;
    color: #fff; 
    cursor: pointer;
    font-size: 14px;
    transition: color 0.2s;
}

#botoes-extras{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;
}

#direc-criar-conta:hover, #cont-sem-login:hover, #botao-voltar:hover {
    color: #7c7c7c;
}