<!DOCTYPE html>
<html lang="pt-BR">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Boole</title>
  <link rel="stylesheet" href="{{url_for('static', filename='style/index.css')}}" />
  <link rel="stylesheet" href="{{url_for('static', filename='style/sidebar.css')}}"/>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap" rel="stylesheet">

</head>

<body>
  <div class = "site-wrapper" id="site-wrapper">
    <aside id="Sidebar" class="sidebar">
        <div id="top-sidebar">
            <div class="sidebar-title-area">
                <img src="{{ url_for('static', filename='images/logo-robo.png') }}" alt="Boole" style="height: 30px;">
                <span id="top-sidebar-title">Sua área</span>
            </div>
            <div>
                <a href="javascript:void(0)" class="closebtn" onclick="closeSidebar()"><img src="{{url_for('static', filename='images/menu_icon.png')}}" alt="Menu" class="closebtn"></a>
            </div>
            
        </div>

        <button id="nova-conversa">
            <img src="{{ url_for('static', filename='images/botao-nova-conversa.png') }}" alt="">
            Nova conversa
        </button>

        <div class="content">
            <ul id="conversation-list"> <!--estrutura básica do histórico dinâmico-->
            {% for chat in conversations %}
                <li><a href="/chat/{{ chat.id }}">{{ chat.title }}</a></li>
            {% endfor %}
            </ul>
        </div>
    </aside>

    <div class="chat-container" id="chat-container" data-component="chat">

      <header class="chat-header" id="chat-header" data-section="header">
      <div>
        <a href="javascript:void(0)" id="menu-button" onclick="openSidebar()"><img src="{{url_for('static', filename='images/menu_icon.png')}}" alt="Menu" class="menu-button"></a>
      </div>

      <div class="header-content">
        <h1 class="chat-title" id="chat-title" data-role="chat-title">
          >_ OI DEV!
        </h1>
        <p class="chat-subtitle" id="chat-subtitle">
          Eu sou o Boole, o seu tutor de programação. Me pergunte sobre alguma linguagem, uma dúvida ou código seu.
        </p>
      </div>
      </header>


      <main class="chat-main" id="chat-main" data-section="main">
      <section
        class="chat-messages"
        id="chat-messages"
        data-section="messages"
        aria-live="polite"
        aria-label="Mensagens do chat"
      ></section>
      </main>

      <footer class="chat-input" id="chat-input" data-section="input">
      <form id="chat-form" data-role="chat-form" action="#" method="post">
        <div class="input-wrapper">
          <label for="input-field" class="sr-only">Mensagem</label>
          <textarea
            class="input-field"
            id="input-field"
            name="message"
            placeholder="No que posso te ajudar?"
            autocomplete="off"
            data-role="message-input"
            rows="1"
            required
          ></textarea>
          <button
            type="submit"
            class="send-button"
            id="send-button"
            data-action="send-message"
            aria-label="Enviar mensagem"
          >
            <img src="{{url_for ('static', filename='images/send_icon.png')}}" width="38px" height="38px">
          </button>
        </div>
      </form>
      </footer>
    </div>
  </div>

  <script defer src="{{url_for ('static', filename='behavior/index.js')}}"></script>
  <script src="https://cdn.jsdelivr.net/npm/marked/marked.min.js"></script>
  <script src="{{ url_for('static', filename='behavior/sidebar.js') }}"></script>

</body>
</html>
