<!DOCTYPE html>
<head>
    <title>Boole</title>
</head>
<body>
    <h3>Digite sua dúvida: </h3>
    <div>
        <input type="text" id="duvida" placeholder="Dúvida">
        <button type="button" onclick="resposta_API()">Enviar</button>
    </div>

    <h3>Resposta do Boole:</h3>
    <p id="resposta" style="color: blue;"></p>

    <script>
        function resposta_API()
        {
            const duvida = document.getElementById('duvida').value;

            fetch('/', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                },
                body: JSON.stringify({ duvida : duvida }),
            })
            // transforma a resposta em json
            .then(response => response.json()) 
            .then(data => {
                if (data.resultado) {
                    // coloca a resposta na tela
                    document.getElementById('resposta').innerText = data.resultado;
                } else if (data.erro) {
                    alert(data.erro);
                }
            })
            .catch(error => console.error('Erro:', error));

        }
    </script>
</body>