<div id="Sidebar" class="sidebar">
        <div id="top-sidebar">
            <div class="sidebar-title-area">
                <img src="{{ url_for('static', filename='images/logo-robo.png') }}" alt="Boole" style="height: 30px;">
                <span id="top-sidebar-title">Sua área</span>
            </div>
            <div>
                <a href="javascript:void(0)" class="closebtn" onclick="closeSidebar()"><img src="{{url_for('static', filename='images/menu_icon.png')}}" alt="Menu" class="closebtn"></a>
            </div>
            
        </div>

        <button id="nova-conversa" onclick="nova_conversa()">
            <img src="{{ url_for('static', filename='images/botao-nova-conversa.png') }}" alt="Nova conversa" style="height: 22px;">
            Nova conversa
        </button>
        
        <div class="content">
            <span id="conversas-title">Conversas</span>
            <ul id="conversation-list"> <!--estrutura básica do histórico dinâmico-->
            </ul>
        </div>

        {% if usuario == "" %}
        <button id="login-or-logout" onclick="abrirLoginPopup()">
            <img src="{{ url_for('static', filename='images/botao-login.png') }}" alt="Entrar" style="height: 38px;">
        </button>
        {% else %}
        <button id="login-or-logout" onclick="logout()">
            <img src="{{ url_for('static', filename='images/botao-logout.png') }}" alt="Sair" style="height: 38px;">
        </button>
        {% endif %}

    {% include "login.html" %}

    {% include "signup.html" %}
    
    </div>

    </div>
    <script src="{{ url_for('static', filename='behavior/sidebar.js') }}"></script>
    <script src="{{ url_for('static', filename='behavior/login.js') }}"></script>
    <script src="{{ url_for('static', filename='behavior/signup.js') }}"></script>
    <script src="{{ url_for('static', filename='behavior/logout.js') }}"></script>