<div id="Sidebar" class="sidebar">
        <div id="top-sidebar">
            <div class="sidebar-title-area">
                <img src="{{ url_for('static', filename='images/logo-robo.png') }}" alt="Boole" style="height: 30px;">
                <span id="top-sidebar-title">Sua área</span>
            </div>
            <div>
                <a href="javascript:void(0)" class="closebtn" onclick="closeSidebar()"><img src="{{url_for('static', filename='images/menu_icon.png')}}" alt="Menu" class="closebtn"></a>
            </div>
            
        </div>

        <button id="nova-conversa">
            <img src="{{ url_for('static', filename='images/botao-nova-conversa.png') }}" alt="">
            Nova conversa
        </button>

        <div class="content">
            <ul id="conversation-list"> <!--estrutura básica do histórico dinâmico-->
            {% for chat in conversations %}
                <li><a href="/chat/{{ chat.id }}">{{ chat.title }}</a></li>
            {% endfor %}
            </ul>
        </div>
    </div>
    <script src="{{ url_for('static', filename='js/sidebar.js') }}"></script>